:root {
    --primary-color: #1a84ef;
    --background-light: #f5adad;
    --text-light: #fff;
    --shadow-color: rgba(0, 0, 0, 0.1);
}

body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--text-light);
    box-shadow: 0 2px 4px var(--shadow-color);
}

@media screen and (max-width: 768px) {
    .header {
        padding: 10px;
        gap: 10px;
    }
}

.logo-text {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 50rem;
    color: var(--primary-color);
    display: flex;
    align-items: center;
    gap: 20px;
}

.Login {
    background-color: var(--primary-color);
    color: var(--text-light);
    text-decoration: none;
    font-weight: 5;
    padding: 0px 10px;
}


@media screen and (min-width: 768px) {
    .new-navbar {
        width: 20%;
    }

    
}
@media screen and (max-width: 768px) {
    .Login {
        font-size: 1rem;
        margin-left: 25px;
    }

    .Login:hover {
        background-color: darken(var(--primary-color), 10%);
    }
}

.new-navbar {
    position: fixed;
    top: 0;
    left: -100%;
    width: 50%;
    height: 100%;
    background-color: var(--background-light);
    transition: left 0.5s ease;
    z-index: 20;
    padding-top: 60px;
    border-radius: 10px;
}

.new-navbar.active {
    left: 0;
}

.new-navbar-options {
    list-style: none;
    padding: 0;
}

.new-navbar-options li {
    padding: 10px;
    font-size: 3vh;
    color: inherit;
    margin-left: 8vh;
    display: flex;
    align-items: center;
    gap: 20px;
}


